[user]
	name = Hardik Mehta
	email = rangalo.bhavai@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
[merge]
	tool = vimdiff
